
body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' ;
}
input { color: white ;}
body a{ text-decoration: none;}

.head-section { width: 100% ;}
.top-menu
{
    background-color: rgb(25, 25, 25);
    color: rgb(112, 112, 112);
    height: 41px ;
}
.top-menu-inner-container 
{
    width: 1170px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left : auto;
    margin-right: auto ;
    
}
.top-menu-first 
{
    margin-top: 12px;
}
.top-menu-first a
{
    margin-right: 10px ;
    text-decoration: none ;
    color: rgb(112, 112, 112);
    margin-top: 15px ;
}
.top-menu-second 
{
        display: flex ;
        flex-direction: row ;
        align-content: center ;
} 
.top-menu-second a  
{
    color: white ;
    display: flex;
    flex-direction: row ;
    align-items: center ;
    margin-top: 13px ;
    font-size: 12px ;
    font-weight: 500;
    font-family: 'Montserrat' ;
}
    
.top-menu-second a:first-child
{
    padding-right: 14px ;
    border-right: 2px solid rgb(189, 189, 189);
    margin-right: 13px ;
}
.top-menu-second a span:first-child
{
    margin-right: 5px ;
    font-size: 18px;
}
.top-menu-second a:last-child span:last-child
{
    font-size: 18px ;
    max-width: 15px ;
}
.main-menu
{
    background-image: url("assets/background-main-menu.png");
    background-size: cover ;
    background-repeat: no-repeat;
    background-color: rgb(33, 33, 33);
    background-blend-mode: overlay  ;
    opacity: 0.85s;
}

.main-menu-navbar
{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    font-family: 'Montserrat' ;
    width: 1170px ;
    margin-left: auto;
    margin-right: auto ;
    color: white ;
}
.main-menu-navbar-first
{
    margin-top: 19px;
    margin-right: 110px ;
}
.mobile-menu-navbar 
{
     display: none ;
     flex-direction: row;
     font-family: 'Montserrat' ;
     justify-content: space-between;
     color: white ;
     padding: 30px 20px 30px 20px ;
}
.mobile-menu-navbar div 
{
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.mobile-menu-navbar span:nth-child(2)
{
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 3px 8px 3px 8px;
    border-radius: 50% ;
    background-color: rgb(254, 65, 130)
}
.mobile-menu-navbar a 
{
    color: white ;
    font-size: 22px ;
    letter-spacing: 2.8px;
    font-weight: 700;
}
.main-menu-navbar-first a 
{
    color: white ;
    font-family: 'Montserrat' ;
    font-size: 22px ;
    letter-spacing: 2.8px;
    font-weight: 700;
}
.main-menu-navbar-second span
{
    margin: 0px;
}
.main-menu-navbar-second 
{ 
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width: 770px;
    margin: 20px 37px 0px 0px;
    text-decoration: none ;
    color: white ;
}
.main-menu-navbar-second  a
{
    display: flex;
    flex-direction: row ;
    align-items: center ;
    text-decoration: none ;
    color: white ;
    font-weight: 750;
    font-size: 14px ;
}
.main-menu-navbar-second span
{
    margin-left: 5px ;
    font-size: 20px ;
}
.main-menu-navbar-third
{
    margin: 24px 14px 0px 0px;
    font-size: 20px ;
    width: 120px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}
.main-menu-navbar-third a {text-decoration: none; color: white;}
.main-menu-navbar-third a:nth-child(1)
{
    border-right : 2px solid rgb(189, 189, 189);
    padding-right: 10px ;
}
.main-menu-navbar-third a:nth-child(2)
{
    border-right : 2px solid rgb(189, 189, 189);
    padding-right: 8px ;
}

.main-menu-inner-container
{
    width: 1170px ;
    display: flex ;
    flex-direction: column;
    align-items: center ;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 198px ;
}
.main-menu-inner-container h5
{
    opacity: 0.702;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 0px ;
    color: #ffffff ;
    font-family: 'Montserrat' ;
    margin-left: 5px ;
    
}
.main-menu-inner-container-heading
{
    margin: 12px 0px 29px 7px ;
}
.main-menu-inner-container div h1 
{
    color: white ;
    font-family: 'Montserrat' ;
    font-weight: 900;
    font-size: 41.9px;
    letter-spacing: 1px  ;
    text-align: center;
    word-spacing: 0px ;
    margin: 0px ;
}

.main-menu-inner-button
{
    background-color: rgb(47, 63, 159);
    width: 170px;
    height: 45px;
    color: white;
    letter-spacing: 0.8px ;
    border-radius: 2em;
    margin-top: 2px ;
    font-size: 17px ;
    font-weight: 500 ;
    text-align: center;
    cursor: pointer;
    border: none ;
    font-family: 'Montserrat' ;
}

#main-menu-inner-author
{
    display: flex ;
    flex-direction: column;
    align-items: center ;
    color: white;
    text-align: center;
    margin: 80px 0px 0px 5px ;
}
#main-menu-inner-author img 
{
    border-radius: 50% ;
    max-height: 50px;
    margin-right: 10px ;
    max-width: 50px;
    cursor: pointer;   
}

#main-menu-inner-author h5 
{
    letter-spacing: 1px ;
    margin: 13px 0px 0px 0px  ;
    font-size: 14px ;
    font-weight: 600 ;
    font-family: 'Montserrat' ;
    
}
#main-menu-inner-author h6
{
    color: rgb(189, 189, 189);
    font-size: 11.98px ;
    letter-spacing: 0.8px ;
    margin: 10px 0px 0px 0px ;
    font-weight: 200; 
    font-family: 'Montserrat' ;
}
#main-menu-inner-author h6 span
{
    margin-left: 10px ;
}
#main-menu-comments-likes
{
    color: white;
    display: flex;
    flex-direction: row ;
    margin : 33px 0px 35px 30px ;  
    font-size: 12px ; 
    letter-spacing: 0.7px ;
    font-weight: 400 ;
    font-family: 'Montserrat' ;
    
}
#main-menu-comments-likes a
{
    color: white;
    text-decoration: none;
    display: flex ;
    flex-direction: row ;
    
}
#main-menu-comments-likes a span 
{
    font-size: 16px ;
    margin-right: 7px ;
}
#main-menu-comments-likes a
{
    margin-right: 30px ;
}


#left-swipe-icon
{
    position: absolute;
    top: 50% ;
    left: 2%;
    color: white ;
}
.right-swipe-icon
{
    position: absolute;
    top: 50% ;
    right: 2%;
    color: white ;
}
.sort-tags 
{
    display: flex;
    flex-direction: row;
    width: 1170px ;
    height: 60px ;
    margin-left : auto;
    margin-right: auto ;
    font-family: 'Montserrat' ;
}
.sort-tags h3 
{
    margin-right: 22px ;
    align-content: center;
    font-size: 10px;
    font-weight: 800 ;
    letter-spacing: 1px ;
    
}
.sort-tags div 
{
    display: flex ;
    flex-direction: row ;

}
.sort-tags div a
{
    padding: 0px 30px 0px 26px ;
    margin: 15px 17px 15px 0px  ;
    border-radius: 20px ;
    color: black ;
    font-size: 10px ;
    font-weight: 700 ;
    letter-spacing: 1px ;
    align-content: center;
    background-color:rgb(245, 245, 245) ;
}

.sort-tags a:hover
{
    border: 1px solid blue ;
    color: blue ;
}
.main-body 
{
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row ;
}
.articles 
{
    width: 820px;
    margin-left: calc( (100% - 1170px ) / 2  ) ;
    margin-top: 30px ;
    margin-right: 38px ;
}
.blog1 
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px ;
}
.blog1-back-img
{
    width: 820px ;
    height:420px ;
    background-image: url("/assets/blog1-background.png");
    background-size: cover;
    position: relative ;
    
}
.blog1-play-icon
{
    position: absolute;
    top: 43% ;
    left:46.4%  ;
    z-index: 1;
    color: white ;
    font-size: 60px;
    
}
.blog1-lifestyle
{
    position: absolute;
    z-index: 1 ;
    left:2.2%;
    bottom: 4% ;
    font-weight: 900px ;
    font-size: 12px;
    color: white ;
}
.blog1-lifestyle a 
{
    text-decoration: none ;
    color: white ;
}
.blog1-comments-likes 
{
    display: flex;
    flex-direction: row ;
    position: absolute;
    z-index: 1 ;
    left:87.3%;
    bottom: 3.5% ;
}
.blog1-comments-likes a span
{
    font-size: 16px ;
    margin-right: 5px ;
    color : white ;
    text-decoration: none ;
}
.blog1-comments-likes a
{
    display: flex;
    flex-direction: row ;
    margin-right: 20px ;
    color : white ;
    font-family: 'Montserrat' ;
}

.blog1-captions 
{
    display: flex;
    flex-direction: row;
    background-color: white ;
    width: 820px ;
}

.blog1-captions
{
    display: flex;
    flex-direction: column ;
    justify-content: start ;
}
.blog1-captions h3
{
    margin: 14px 0px 0px 19px;
    font-weight: 900px ;
    font-family: 'Montserrat' ;
}
.blog1-captions h3 a 
{
    text-decoration: none;
    color: black  ;
}
.blog1-captions p 
{
    margin : 5px 10px 16px 18px;
    line-height: 25px;
    font-weight: 600px ;
    font-family: "Open Sans" ;

}
.blog1-author 
{
    display: flex;
    flex-direction: row ;
    align-items: center ;
    justify-content: space-between;
    align-items: center ;
    margin: 20px 0px 18px 20px  ;
    
}
.blog1-author-info
{
    display: flex;
    flex-direction: row ;
}
.blog1-option-icon
{
    margin-right: 13px;
}
.blog1-option-icon  a
{
    color: black ;
}
.blog1-author img 
{
    max-width: 49px;
    max-height: 49px;
    border-radius: 50% ;
}
.blog1-author-info div 
{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
.blog1-author-info div a span
{
    margin: 5px 0px 0px 10px  ;
    font-size: 13px ;
    font-weight: 700 ;
    letter-spacing: 1px ;
    font-family: 'Montserrat' ;
}
.blog1-author-info div a 
{
    text-decoration: none;
    color: black ;
}
.blog1-author-info div > span
{
    color: rgb(189, 189, 189);
    font-size: 12px ;
    margin: 8px 0px 0px 9px ;
    font-weight: 400; 
    letter-spacing: 1px ;
    font-family: 'Montserrat' ;
}
.blog1-author-info div > span span
{
    margin-left: 3px ;
}
.blog2 
{
    width: 820px ;
    display: flex;
    flex-direction: column;
}
.blog2-posts
{
    display: flex;
    flex-direction: row;
    margin-bottom: 21px ;
    background-color: white ;
    border-radius: 10px ;
    position: relative;
}
.blog2-post1-bg-imag {min-width: 260px; height: 165px; background-image: url('assets/blog2-img1.png'); background-size: cover; position: relative;}
.blog2-post2-bg-imag {min-width: 260px; height: 165px; background-image: url('assets/blog2-img2.png'); background-size: cover; position: relative;}
.blog2-post3-bg-imag {min-width: 260px; height: 165px; background-image: url('assets/blog2-img3.png'); background-size: cover; position: relative;}

 
.blog2-play-icon 
{
    position: absolute ;
    z-index: 2 ;
    top: 35% ;
    font-size: 50px;
    left: 40% ;
    color: white ;
}
.blog2-img-text 
{
    position: absolute;
    font-size: 12px ;
    font-weight: 800px ;
    z-index: 2 ;  
    bottom: 10%; 
    left: 6.5%;   
}
.blog2-img-text a 
{
    text-decoration: none;
    color: white ;
}
.blog2-comments-likes
{
    display: flex ;
    flex-direction: row ;
    z-index: 2;
    color: white ;
    position: absolute;  
    bottom: 10.5%; 
    right: 0%;
}
.blog2-comments-likes a 
{
    display: flex;
    font-size: 12px ;
    flex-direction: row ;
    color: white ;
    margin-right: 21px ;
}
.blog2-comments-likes a span 
{
    font-size: 15px ;
    margin-right: 7px ;
}
.blog2-caption
{
    display: flex;
    flex-direction: column  ;
}
.blog2-caption h4
{
    margin: 9px 0px 0px 18px ;
    font-weight: 900px ;
    font-size: 16px;
    letter-spacing: 1px;
}
.blog2-caption h4 a 
{
    text-decoration: none;
    color: black ;
}
.blog2-caption p 
{
    margin: 9px 0px 15px 17px ;
    line-height: 21px;
    font-size: 14.5px ;
    font-weight: 400px;
}
.hz-line 
{
    width: 100%; 
    margin: 0;              
}
.blog2-author
{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    align-items: center ;
    margin-top: 5px ;
}
.blog2-author-info
{
    display: flex;
    flex-direction: row ;
    margin-top: 4px ;
}
.blog2-author img
{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50% ;
    margin: 0px 0px 0px 20px ; 
    
}
.blog2-author-info div 
{
    display: flex;
    flex-direction: column ;
    line-height: 23px ;
}
.blog2-author-info div a span
{
    margin : 4px 0px 1px 10.5px  ;
    font-weight: 600;
    font-size: 15px ;
}
.blog2-author-info div a 
{
    text-decoration: none;
    color: black ;
}
.blog2-author-info div > span
{
    margin : 0px 0px 0px 10.5px ;
    word-spacing: 1px ;
    font-weight: 100px  ;
    color: rgb(137, 137, 137);
    font-size: 12px ;
}
.blog2-option-icon 
{
    margin-right: 13px ;
}
.blog2-option-icon  a
{
    color: black ;
}
.blog3 
{
    max-width: 820px ;
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
    position: relative;
}
.blog3-posts 
{
    display: flex;
    flex-direction: column ;
    margin : 0px 20px 20px 0px ;
    background-color: white ;
    position: relative;
}
.blog3-post1-bg-imag { width:260px; height: 161px; background-image: url('assets/blog3-img1.png'); background-size: cover; position: relative;  }
.blog3-post2-bg-imag { width:260px; height: 161px; background-image: url('assets/blog3-img2.png'); background-size: cover; position: relative; }
.blog3-post3-bg-imag { width:260px; height: 161px; background-image: url('assets/blog3-img3.png'); background-size: cover; position: relative;   }

 
.blog3-play-icon 
{
    position: absolute ;
    z-index: 2 ;
    top: 35% ;
    font-size: 50px;
    left: 40%  ;
    color: white ;
}
.blog3-img-text 
{
    position: absolute;
    color : white ;
    font-size: 12px ;
    font-weight: 800px ;
    z-index: 2 ;  
    bottom: 8%;
    left: 7%;
}
.blog3-img-text a 
{
    text-decoration: none;
    color: white ;
}
.blog3-comments-likes
{
    display: flex ;
    flex-direction: row ;
    z-index: 2;
    color: white ;
    position: absolute;
    bottom: 8%;
    right: 0%; 
}
.blog3-comments-likes a 
{
    display: flex;
    font-size: 12px ;
    flex-direction: row ;
    color: white ;
    margin-right: 20px ;
}
.blog3-comments-likes a span 
{
    font-size: 15px ;
    margin-right: 7px ;
}
.blog3-caption h5 
{
    margin: 10px 0px 0px 19px ;
    letter-spacing: 1px ;
    line-height: 24px ;
}
.blog3-caption h5 a 
{
    color: black ;
}
.blog3-caption p 
{
    margin: 7.5px 0px 24px 18px ;
    font-size: 14px ;
    line-height: 21px ;
}
.blog3-author 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin : 14px 0px 18px 0px ; 
}
.blog3-author-info 
{
    display: flex;
    flex-direction: row ;
}
.blog3-author-info img 
{
    max-width: 49px;
    max-height: 49px;
    border-radius: 50% ;
    margin: 0px 0px 0px 20px ; 
}
.blog3-author-info div 
{
    display: flex;
    flex-direction: column ;
    line-height: 22.5px ;
    margin-top: 4px ;
    
}
.blog3-author-info div a span
{
    margin : 0px 0px 0px 10.5px  ;
    font-weight: 700;
    font-size: 14px ; 
}
.blog3-author-info div a
{
    text-decoration: none;
    color: black ;
}
.blog3-author-info div > span
{
    margin : 0px 0px 0px 10.5px ;
    font-weight: 100px  ;
    letter-spacing: 0.7px;
    color: rgb(137, 137, 137);
    font-size: 12px ;
    
}
.blog3-option-icon 
{
    margin-right: 13px ;
}
.blog3-option-icon  a
{
    color: black ;
}

.blog4 
{
    width: 820px ;
    display: flex;
    flex-direction: row;
    
}
.blog4-posts 
{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    background-color: white ;
    
}

.blog4-post1-bg-imag{width: 400px; height: 300px; background-image: url('assets/blog4-img1.png'); background-size: cover; position: relative;   }
.blog4-post2-bg-imag{width: 400px; height: 300px; background-image: url('assets/blog4-img2.png'); background-size: cover; position: relative;   }

.blog4-img-text 
{
    position: absolute ;
    color : white ;
    font-size: 12px ;
    bottom: 6%;
    left: 4.5%;
}
.blog4-img-text a 
{
    text-decoration: none ;
}
.blog4-comments-likes
{
    display: flex ;
    flex-direction: row ;
    color: white ;
    position: absolute;
    bottom: 5.5%;
    right: 0.3% ;
}
.blog4-comments-likes a 
{
    display: flex;
    flex-direction: row ;
    text-decoration: none;
    margin-right: 20px ;
    color: white ;
    font-size: 13px ;
}
.blog4-comments-likes a:nth-child(1) span
{
    font-size: 17px ;
    margin-right: 7px ;
}
.blog4-comments-likes a:nth-child(2) span
{
    font-size: 18px ;
    margin-right: 3px ;
}
.blog4-caption 
{
    display: flex;
    flex-direction: column ;
    border-bottom: 1px solid black;
}
.blog4-caption h3
{
    margin: 13px 0px 0px 19px ;
    font-weight: 900px ;
}
.blog4-caption h3  a
{
    color: black ;
}
.blog4-caption p 
{
    margin: 5px 0px 15px 18px ;
    font-size: 16px ;
    line-height: 26px;
}
.blog4-author 
{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    margin : 8px 0px 10px 0px ;
}
.blog4-author-info 
{
    display: flex ;
    flex-direction: row ;
    margin-top: 7px ;
    line-height: 24px ;
}
.blog4-author-info img 
{
    max-width: 49px;
    max-height: 49px;
    border-radius: 50% ;
    margin: 0px 0px 0px 20px ;
}
.blog4-author-info div 
{
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}
.blog4-author-info div a span
{
    margin : 0px 0px 2px 10px  ;
    font-weight: 700;
    letter-spacing: 0.8px ;;
    font-size: 14px ;
}
.blog4-author-info div a 
{
    text-decoration: none;
    color: black ;
}
.blog4-author-info div > span
{
    margin : 0px 0px 0px 9.5px ;
    font-weight: 100px  ;
    color: rgb(137, 137, 137);
    font-size: 12px ;
    letter-spacing: 0.7px;
}
.blog4-option-icon 
{
   margin-right: 13px ;

}
.blog4-option-icon  a
{
    color: black ;
}
.find-more 
{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center ;
    font-family: 'Montserrat';
    color: #303f9f;
    letter-spacing: 1px ;
    font-size: 16px;
    padding: 42px 0px 42px 0px;
    width: 820px;
    margin-right: 38px;
}
.find-more span {border: 1px solid red; font-size: 24px; font-weight: bold; padding: 10px; margin-left: 6px; color: #303f9f; background-color: white; border-radius: 50%;}
.mobile-pasco-info 
{
    display: none ;
    flex-direction: column;
    background-color: rgb(33,33,33);
}
.mobile-pasco-info div 
{
    width: 90%;
    margin : 20px auto 20px auto;
}
.mobile-pasco-info p
{
    color: rgb(141, 141, 141) ;
    font-size: 20px;
}
.mobile-pasco-info h1 
{
    color: white ;
  
}
.mobile-pasco-info button 
{
    color: white ;
    border-radius: 50px;
    border: none ;
    background-color: rgb(48, 48, 48);
    width: 40%;
    padding: 10px 0px 10px 0px
}
.outer-sidebar 
{
    background-color: white ;  
    margin-top: 30px ;
    width: 100% ;   

}
.inner-sidebar 
{
    width: 309px ;
    margin-right: auto ;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: 'Montserrat' ;
}
.sidebar-search
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.5px 4.5px 4px 5px ;
    margin-top: 25px  ;
    border-radius: 20px ;
    width: 84%;
    background-color: rgb(245, 245, 245);
}
.sidebar-search input
{
    border-radius: 20px ;
    border: none ;
    font-size: 16px ;
    letter-spacing: 1px ;
    background-color: rgb(245, 245, 245); 
}
.sidebar-search input::placeholder 
{
    padding-left: 11px ;
}
.sidebar-search span
{
    padding: 6px ;
    color: white ;
    border-radius: 50% ;
    font-size: 22px ;
    background-color: rgb(255, 64, 129);
}
.sidebar-category
{
    display: flex;
    flex-direction: column;
    width: 88% ;
    margin : 26px 0px 13px 0px ;
}
.sidebar-category h3 
{
    color: #3f51b5;
    font-family: 'Montserrat' ;
    margin: 0px 0px 8px 1px  ;
    border-bottom: 1px solid #3f51b5;
    padding-bottom: 5px ;
}
.sidebar-category div 
{
    border-bottom:1px solid rgb(181, 181, 181) ;
    padding-bottom: 7px ;
    margin : 5px 0px 3px 1px ;
    letter-spacing: 0.8px ;
    cursor: pointer;
}
.sidebar-category div a
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
    font-weight: 900px ;
    font-size: 14px ;
    font-family: 'Open Sans' ;
}
.sidebar-category a
{
    color: black ;
}

.sidebar-category div h5 
{
    margin: 0px  ;
    font-family: "Open Sans" ;
    font-weight: 900px ;
    letter-spacing: 0.5px ;
}
.sidebar-subscribe
{
    display: flex;
    width: 88% ;
    flex-direction: column;
    margin-top: 11px ;
}
.sidebar-subscribe h3 
{
    color: #3f51b5;
    margin: 0px 0px 8px 2px;
    border-bottom: 1px solid #3f51b5;
    padding-bottom: 5px ;
}
.subscribe-form
{
    margin-top: 2px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subscribe-form label {  font-family: "Open Sans" ; font-size: 17px ;letter-spacing: 0.5px ;  margin-left: 0.5px ; font-weight: 900px  ;}
.subscribe-form input
{
    padding: 13px 12px 11px 12px ;
    border: 0.1px solid rgb(236, 236, 236);
    border-radius: 5px ;
    font-family: "Open Sans";
    margin: 11px 0px 10.5px 2px ;
    
}
.sidebar-subscribe input::placeholder
{
    padding-left: 4.5px ;
    font-size: 17px ;
}

.subscribe-form button
{
    background-color: rgb(63, 81, 181);
    cursor: pointer ;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 11px 0px 13px 18px ;
    color: #ffffff;
    font-family: "Montserrat";
    border-radius: 5px ;
    border: none ;
    margin: 0px 0px 10px 2px ;
}
.form-or
{
    width: 100% ;
    display: flex;
    flex-direction: row;
    margin: 3px 0px 5px 1px ;
}
.form-or hr
{
    width: 100% ;
    background-color: black ;
    height: 0.5px ;
    margin-top: 10px ;
}
.sidebar-social-icons 
{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width: 86%;
    margin: 14px 3px 0px 0px ;
}
.sidebar-social-icons i 
{
    font-size: 18px;
    width: 36px ;
    height: 36px ;
    color: white ;
    border-radius: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb { background-color:  rgb(59, 89, 153);} 
.twtr {  background-color:  rgb(85,171,237);}
.vk {  background-color:  rgb(75,117,163) }
.pntr { background-color:  rgb(255,45,85);  }
.tumb { background-color:  rgb(51,69,93); }
.drib { background-color:  rgb(233,75,137); }

.sidebar-authors-list
{
    display: flex;
    flex-direction: column;
}
.sidebar-author
{
    display: flex;
    flex-direction: row ;
}

.widget h3 {   margin: 44px 0px 5px 1px; color: #3f51b5; border-bottom: 1px solid #3f51b5 ; padding-bottom: 5px ;}
.widget {  margin-top: 0px ; font-family: 'Montserrat'; width: 90%;}
.widget div { margin: 18.5px 0px 0px 3px  ;  display: flex; flex-direction: row ;  }
.widget button  {padding: 13.5px 0px 12px 0px ;flex: 1 ;  border: 1px solid  rgb(63, 81, 181) ; font-size: 12px ; font-weight: 900px; word-spacing: 1px; cursor: pointer ;}
.widget button:nth-child(1) { background-color: rgb(63, 81, 181) ; color: white ; border-radius: 5px 0px 0px 5px ;}
.widget button:nth-child(2) { color: rgb(63, 81, 181) ; background-color: white ; border-radius: 0px 5px 5px 0px ;}


.sidebar-authors-list { display:  flex; flex-direction: column; width: 87%; margin : 16px 0px 0px 0px ;}
.sidebar-author { border-bottom: 1px solid rgb(181,181,181); padding-bottom: 11px ;   margin-bottom: 11px ;}
.sidebar-author img { margin-top: 4px ; width: 100.5px ; height: 80px ;}
.sidebar-author-info { margin-left: 14px ; display: flex ; flex-direction: column ; font-family: "Open Sans"; }
.sidebar-date-info {  margin-top: 0px ; display: flex ; flex-direction: row ; justify-content: space-between;}
.sidebar-date-info a { display: flex; flex-direction: row ;}
.sidebar-date-info span {  font-size: 12px ; margin: 0px ; }
.sidebar-date-info a { font-size: 12px ;}
.sidebar-date-info a span {  font-size: 14px ; margin-right: 4px ;}
.sidebar-author-info h5 {line-height: 21px ;letter-spacing: 0.5px ; margin-top: 3px ; font-size: 14px ;}
.sidebar-author-info h5 a { color:  black ;}
.sidebar-author:last-child { border: none ;}

.sidebar-tags {   width: 88%;}
.sidebar-tags h3 {margin: 20px 0px 20px 3px ; padding-bottom: 5px; border-bottom: 1px solid rgb(63, 81, 181) ; font-size: 18.5px; color: rgb(63, 81, 181) ; }
.sidebar-tags div  { margin:17px 0px 0px 0px; display: flex; ; flex-direction: row; flex-wrap: wrap;  }
.sidebar-tags div a {font-size: 14.5px  ; font-family: "Open Sans"; font-weight: 600 ; padding: 5px 15px 5px 15px ;  background-color: rgb(238, 238, 238); border-radius: 5px ;}
.sidebar-tags div a { color:black; margin: 0px 8px 10px 3px ;  }

.circular-loop { width: 100%; display: flex ; flex-direction: row;  overflow: hidden;   }
.loop-img-container { min-width: 100%;  display: flex ; flex-direction: row;  overflow: hidden; flex-grow: 1; animation: moveRightToLeft 10s linear infinite  }
.loop-img-container a { width: 12.5% }
.loop-img-container img { width: 100%; height: 100%;}
@keyframes moveRightToLeft {
    from{
        transform: translateX(0%);
    }
    to { transform: translateX(-100%); }
    }
 
.footer-banner { width: 100%;  background-image: url("assets/footer-banner.png");background-position-y: bottom; background-color: rgb(33, 33, 33);opacity: 0.85; background-blend-mode:overlay; height: 200px; }
.inner-banner {  height: 97%; display: flex; flex-direction: row; align-items:center ; justify-content: space-between;   width: 1170px; margin-left: auto;  margin-right: auto; ;}
.footer-banner h1 { font-size: 41.3px; font-family: 'Montserrat'; font-weight:900 ; letter-spacing: 1.5px; color:white;   }
.banner-form {  display: flex; flex-direction: row; justify-content: space-between;   margin-top: 5px ;}
.banner-form input { padding: 16px 88px 12px 18px ;  border-radius: 5px ; border-radius: 50px ; border: 1px solid rgb(245, 245, 245); margin-right: 30px;  background: transparent;}
.banner-form input::placeholder { font-size: 16px; letter-spacing: 1px ; }
.banner-form button {font-size: 16px;  padding: 2px 31px 2px 33px ;cursor: pointer; letter-spacing : 1.5px; border : none ; border-radius: 50px ;background-color: rgb(48, 63, 159); color:white ;} 

.page-footer {  background-color: rgb(33, 33, 33); border: 1px solid rgb(33, 33, 33); padding: 25px 0px 71px 0px;  }
.inner-page-footer { width: 1170px; display: flex; flex-direction:row; margin-left: auto; margin-right: auto;   }
.inner-page-footer a { color: white ;}
.inner-page-footer h3 { color: white; font-family: 'Montserrat';}
.inner-page-footer span {  color: rgb(189, 189, 189);}

.page-widget {display:flex; flex-direction: column; width: 23.1%; margin-right: 28px;}
.page-widget h3 { margin-bottom: 24px;  }
.page-widget div {font-family:'Open Sans'; cursor: pointer; }
.pag-wid-same {margin-bottom: 5px ; font-size: 14px ; border: 1px solid rgb(189, 189, 189); border-radius: 5px; display: flex; flex-direction: column; cursor: pointer }
.pag-wid-head {color: white ; padding: 10px 7px 10px 14px;  letter-spacing: 0.7px ; display: flex; font-weight: bold ; flex-direction: row; justify-content: space-between; align-items: center;   }
.pag-wid-head > span { color: rgb(189, 189, 189); }
.pag-wid-dropdown {border-top: 1px solid rgb(189, 189, 189) ; display: none ;color: rgb(189, 189, 189); padding: 12px 7px 4px 12px; font-size: 14px ;  }
.pag-wid-dropdown a { display: flex; padding: 0px 0px 16.5px 0px; flex-direction: column ; letter-spacing: 1px ;  }


.twtr-wdgt { width:  24.2% ; margin-right: 20px; }
.inner-twtr-wdgt { margin-bottom: 0px;}
.twtr-wdgt h3 { margin-bottom: 22px; margin-left: 3px; }
.twtr-wdgt-tweeets { border-bottom: 1px solid rgb(58, 58, 58); padding-bottom: 13px ; margin: 0px 0px 11px 0px ;}
.twtr-wdgt-tweeets-first { display: flex; flex-direction: row; margin: 0px 30px 7px 12px ;}
.twtr-wdgt-tweeets-first a {font-size: 14px; line-height: 20.5px; font-family: 'Open Sans'; }
.twtr-wdgt-tweeets-first i { font-size: 24px; color: rgb(85, 172, 238); margin-right: 15px;}
.twtr-wdgt-tweeets-second {color: rgb(189, 189, 189); letter-spacing: 0.5px ; font-family:'Open Sans'; font-size: 12px ;  display: flex; flex-direction: row; justify-content: space-between; align-items: center ; margin-left: 4px;}
.twtr-wdgt-tweeets-second span:nth-child(2) { font-size: 16px ;  }
.twtr-wdgt-tweeets-second div { display: flex; flex-direction: row;}
.twtr-wdgt-tweeets-second div a { text-decoration: underline; font-size: 12px; margin-right: 14px  }
.twtr-wdgt-tweeets:last-child{ border: none;}
.twtr-wdgt-social-icon h3 { margin: 14px 0px 15px 3px; }
.inner-twtr-wdgt-social-icons { margin: 0px 0px 0px 2px; display: flex; flex-direction: row; }
.inner-twtr-wdgt-social-icons i  
    {
        font-size: 17px;
        width: 36px ;
        height: 36px ;
        color: white ;
        border-radius: 20px ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
.flicker-collage { width: 280px ; margin-right: 22px;}  
.flicker-collage h3 { margin-bottom: 25px ;}
.flicker-collage div img { margin: 0px 1.5px 4px 2px ; width:30.5% ; height:30.5% ;}
 

.news-letter { width: 23.2%}
.news-letter h3 { margin-bottom: 26.5px ;}
.nws-ltr-fom { display: flex; flex-direction: column; font-family:'Open Sans';}
.nws-ltr-fom input { background: transparent; padding: 16px 0px 10.5px 14px; border: 10px; border:1px solid rgb(189, 189, 189);border-radius: 5px ; margin-bottom: 11px ;}
.nws-ltr-fom input::placeholder {font-size: 14px; letter-spacing: 1px ;}
.nws-ltr-fom textarea { background: transparent; padding: 10px;padding: 12px 0px 14px 14.5px; border: 10px;color: white; border:1px solid rgb(189, 189, 189);border-radius: 5px ; margin-bottom: 10px ; resize: none;}
.nws-ltr-fom textarea::placeholder {font-size: 14px;  letter-spacing: 1px; font-family: 'Open Sans';}
.nws-ltr-fom button {background-color:rgb(48, 48, 48); cursor: pointer; color: white ;border-radius: 5px ; margin-left: 1px; padding: 14px 0px 11px 0px; border: none; font-weight: bold;}

.foot-bar { background-color: rgb(48, 48, 48); height: 80.5px;  width: 100%;}
.inner-foot-bar {width: 1170px; height:95%;   margin-left: auto; margin-right: auto; display: flex; flex-direction: row; justify-content: space-between;}
.inner-foot-bar div {font-family: 'Montserrat'; }
.foot-bar-first {  width: 63.5%;  display: flex; flex-direction: row ; align-items: center ;} 
.foot-bar-first a { color: white; font-size: 12px; font-weight:bold; margin-right: 42px;   font-family: 'Montserrat';}
.foot-bar-second { display: flex; flex-direction: row; justify-content: space-between;  align-items: center ; width: 30.3%;}
.foot-bar-search { justify-content: space-between; padding: 4px 0px 3px 3px ;  border: 1px solid white; border-radius: 50px; width: 60.6%; }
.foot-bar-search input {border: none; font-size: 12px; border-radius: 50px ; letter-spacing: 1px; background: transparent;  }
.foot-bar-search input::placeholder { padding-left: 15px; font-size: 14px ; }
.foot-bar-search span { color: white ; border-radius: 50%; margin :5px 12px 0px 0px; font-size: 18px; background: transparent;   }
.foot-bar-lang a {margin-right: 0px ; display: flex; flex-direction: row ; font-size: 12px; align-items: center; color: white; }
.foot-bar-lang a span:nth-child(1) { margin-right: 6px ;  font-size: 18px; }
.foot-bar-lang a span:nth-child(2) { font-size: 18px; max-width: 15px;}

.mobile-footer { display: none ; flex-direction: column ;  }
.mobile-footer div { display: flex; flex-direction: row; margin: 30px auto 30px auto}
.mbl-ftr-icons {width: 90%; justify-content: space-between; }
.mbl-ftr-icons a { color : rgb(149, 149, 149)}
.mbl-ftr-info { color : rgb(149, 149, 149); }
.mbl-ftr-info span:nth-child(1) { border-right: 1px solid white; padding-right: 10px; margin-right: 10px;}

@media screen and (max-width: 600px)
{
    .top-menu { background-color: rgb(49, 63, 160); padding: 0px 20px 0px 20px ;}
    .top-menu-inner-container {  width: 100% ; margin-left: auto; margin-right: auto; }
    .top-menu-first {display: none; }
    .top-menu-second { flex-direction: row-reverse; flex-grow: 1; justify-content: space-between;}
    .top-menu-second span { justify-content: center; flex:1}
    .top-menu-second a:first-child { border-right: none; margin-right: 0px; padding-right: 0px;}

    .main-menu { width: 100%; }
    .main-menu-navbar { display: none ;}
    .mobile-menu-navbar { display: flex ; background-color: rgb(63, 81, 181);}
     

    .main-menu-body { width: 100%;  }
    .main-menu-inner-container { width:90% ;   margin-left:  auto; margin-right: auto; }
    .main-menu-inner-container h5 {  margin-left: auto; margin-right: auto;}
    .main-menu-inner-container-heading { margin: 0px }
    .main-menu-inner-container div h1  { font-size: 40px ;}
    
    .sort-tags {  width: 95%;  height: 100%; border: 1px solid red;}
    .sort-tags div { flex-wrap: wrap ;}

    .main-body { width: 100%; flex-direction: column;}
    .articles { width: 100%; margin: 30px 0px 0px 0px;}
    .blog1 { width: 100% ;  }
    .blog1-back-img { width: 100%; background-position: center;}
    .blog1-comments-likes { right: 5%;}
    .blog1-captions { width: 100%; }

    .blog2 { width: 100%; }
    .blog2-posts { flex-direction: column;}

    .blog3 { width: 100%; flex-direction: column;}
    .blog3-posts { width: 100%; margin-right: 0px; overflow: hidden;}
    .blog3-posts > div { width: 100%;}

    .blog4 { width: 100%; flex-direction: column; }
    .blog4-posts  { width: 100%; }
    .blog4-posts > div { width: 100%; }
    .find-more { width: 100%; margin-right: 0px;  }

    .mobile-pasco-info { display: flex;}

    .outer-sidebar {   background-color: rgb(33,33,33); margin-top: 0px; }
    .inner-sidebar  {width: 100%; align-items: center; margin-bottom: 30px; }
    .inner-sidebar > div { flex: 1 }
    .inner-sidebar * { color: white ;}
    .inner-sidebar a { color: white ;}
    .inner-sidebar span { color: white ;}
    .inner-sidebar h3, .sidebar-author-info h5 a  { color: white; border: none; }
    .sidebar-tags div a { border: 1px solid rgb(149, 146, 167); background-color: transparent; color: rgb(193, 193, 193);}
    
 

    .circular-loop { display: none;}

    .footer-banner { width: 100%; height: 100%;}
    .footer-banner h1 { font-size: 30px ; }
    .inner-banner { width: 90%; flex-direction: column; margin-left: auto; margin-right: auto; }
    .banner-form { width: 75%;  flex-direction: column ;}
    .banner-form input  { margin: 0px;}    
    .banner-form button  {padding: 12px 0px 12px 0px; margin: 20px 0px 20px 0px;}    

    .page-footer { width: 100%; border: none;   background-color: rgb(33,33,33); }
    .inner-page-footer { flex-direction: column; width: 100%; margin-left: auto; margin-right: auto;}
    .inner-page-footer > div { width: 90% ; margin-left: auto; margin-right: auto; }
    .inner-page-footer > div h3 { text-align: center;}
    .inner-twtr-wdgt-social-icons { justify-content: center; }
    .flicker-collage div { margin-left: auto; margin-right: auto;}

    .foot-bar { display: none;}

    .mobile-footer { display: flex; background-color: rgb(48, 48, 48);}
 
}
  